*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.bx{
    font-size: 6rem;
}

/*HEADER*/

.head__box{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.5rem 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav__box{
    display: flex;
}

li{
    list-style: none;
    padding-left: 2rem;
    margin-right: 2rem;
}

li + li{
    border-left: 1px solid black;
}

/*MAIN*/

.unique__main{
    border: 2px solid black;
    border-style:solid none solid none;

    height:  50vh;
    background-image: url(https://images.unsplash.com/photo-1537526045572-fca8beed2a4f?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.unique__main > h1{
    font-size: 4rem;
}

.unique__main > button{
    background-color: white;
    padding: .5rem;
    font-weight: bold;
    font-size: 1rem;
}

/*Uniqueness*/

.uniqueness{
    display: flex;
    justify-content: center;
    align-items: center;
}

.uniqueness > p{
    padding: 5rem;
    text-align: center;
    width: 70ch;
    font-weight: 500;
}

.three__columns{
    height: 30vh;
    background-color: rgb(29, 28, 28);
    color:white;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem
}

.column > p{
    text-align: center;
    width: 25ch;
}

footer{
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    font-size: .8rem;
}